# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml

# Local build artifacts
firmware-*.bin
*.bin
/build/

# Development files
.venv/
__pycache__/
*.pyc
